name: VolleyCaslanoNotifier

on:
  schedule:
    # Esegui ogni 6 ore
    - cron: "0 */6 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  run-bot:
    runs-on: ubuntu-latest

    env:
      TELE_TOKEN: ${{ secrets.TELE_TOKEN }}
      CHAT_ID: ${{ secrets.CHAT_ID }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Assicura che tutto il repo venga scaricato

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4 python-telegram-bot

      - name: Run notifier script
        working-directory: ${{ github.workspace }}
        run: python volley_notifier.py
